body {
  color: black;
}

.hidden {
  display: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.nav {
  a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
  }

  padding-bottom: 20px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-container {
  .stop {
    position: absolute;
    top: 10px;;
    left: 10px;
    z-index: 2;
  }
}



#experiments {
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
  }


  .item {
    border: 1px solid;
    display: block;
    max-width: 800px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border: none;

    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;

  } 

  .title {
    transition: background-color 0.5s;
    color: rgba(255, 255, 255, 0); 
  }
  
  .item:not(.selected):hover {
    height: 300px; 
  }

  .selected {
    height: 800px; 

    .overlay {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .title {
      color: rgba(255, 255, 255, 1);
    }
  }

}
