- const data = htmlWebpackPlugin.options.data

doctype html
html
  head
    title Portfolio
  body
    input#js-data.hidden(value = JSON.stringify(data))
    .content
      include layouts/header.pug
      #experiments.hidden
        #canvas-container.hidden
          a.stop
            i(data-feather = "x")
          a.restart
            i(data-feather = "repeat")
          a.next
            i(data-feather = "chevron-right")
          a.prev
            i(data-feather = "chevron-left")
        .grid
          each experiment in data.experiments
            a.sketch(href='javascript:void(0)', data-sketch = experiment)
              .item(data-sketch = experiment, data-bg = experiment.replace('js', 'png'))
                .overlay
      #about
        .bio
          include:markdown-it pages/about.md
        img.headshot(src= require('./data/headshot.jpg'))
        img.bike(src= require('./data/bike.jpg'))

