.header
  .nav
    a.about(href='javascript:;') info
    a.experiments(href='javascript:;') experiments
    // a.projects(href='javascript:;') projects
  .contact
    a.github(href = "https://github.com/DexterShepherd", target = "_blank")
      i(data-feather = "github")
    a.instagram(href = "https://www.instagram.com/dexterwritescode", target = "_blank")
      i(data-feather = "instagram")
    a.twitter(href = "https://twitter.com/dexter_shepherd", target = "_blank")
      i(data-feather = "twitter")
    a.email( href = "mailto:dexterjshepherd@gmail.com")
      i(data-feather = "mail")
